black==21.6b0
coverage==5.5
flake8==3.9.2
hypothesis==6.13.10
isort==5.9.1
MutPy==0.6.1
mypy==0.910
mypy-extensions==0.4.3
pinject==0.14.1
pip-tools==6.2.0
pyflakes==2.3.1
pylint==2.9.2
pytest==6.2.4
pytest-cov==2.12.1
pytype==2021.6.17
requests==2.25.1
yapf==0.31.0
