black==21.9b0
coverage==6.0.2
flake8==4.0.1
hypothesis==6.27.1
isort==5.9.3
MutPy==0.6.1
mypy==0.910
mypy-extensions==0.4.3
pinject==0.14.1
pip-tools==6.4.0
pyflakes==2.4.0
pylint==2.11.1
pytest==6.2.5
pytest-cov==3.0.0
pytype==2021.10.11
requests==2.26.0
yapf==0.31.0
