black==21.8b0
coverage==5.5
flake8==3.9.2
hypothesis==6.18.0
isort==5.9.3
MutPy==0.6.1
mypy==0.910
mypy-extensions==0.4.3
pinject==0.14.1
pip-tools==6.2.0
pyflakes==2.3.1
pylint==2.10.2
pytest==6.2.5
pytest-cov==2.12.1
pytype==2021.8.24
requests==2.26.0
yapf==0.31.0
